<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLBVConnectionString" connectionString="Data Source=linh\MAYLINH;Initial Catalog=QLBV;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QLBVConnectionString1" connectionString="Data Source=DESKTOP-05J7C3L\SQLEXPRESS;Initial Catalog=QLBV;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>